In [1]:

import yfinance as yf
import streamlit as st

In [2]:
tickerSymbol = 'GOOGL'
#get data on this ticker
tickerData = yf.Ticker(tickerSymbol)

In [3]:
tickerData

yfinance.Ticker object <GOOGL>

In [5]:
tickerDf = tickerData.history(period='1d', start='2010-5-31', end='2024-5-31')
tickerDf

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-06-01 00:00:00-04:00,12.008991,12.274702,12.001241,12.057483,106565328,0.0,0.0
2010-06-02 00:00:00-04:00,12.165218,12.344941,12.034737,12.332443,101530368,0.0,0.0
2010-06-03 00:00:00-04:00,12.375936,12.698140,12.365688,12.638148,145881972,0.0,0.0
2010-06-04 00:00:00-04:00,12.491170,12.729385,12.415681,12.466173,156655188,0.0,0.0
2010-06-07 00:00:00-04:00,12.474672,12.520915,12.076981,12.136222,145162692,0.0,0.0
...,...,...,...,...,...,...,...
2024-05-23 00:00:00-04:00,176.867013,178.045653,172.751725,173.351044,21024900,0.0,0.0
2024-05-24 00:00:00-04:00,174.779400,175.568503,173.450923,174.789398,16572500,0.0,0.0
2024-05-28 00:00:00-04:00,174.250008,177.066782,174.170098,176.197769,20572200,0.0,0.0
2024-05-29 00:00:00-04:00,175.228887,176.637274,174.519709,175.698349,23388700,0.0,0.0
2024-05-30 00:00:00-04:00,174.999159,175.019140,171.593064,171.912704,22958700,0.0,0.0